# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Temporary files
temp/
tmp/

# Virtual environment
venv/
env/
ENV/

# IDE settings
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Local model files
*.ckpt
*.pt
*.bin
*.safetensors 